<h1> this is my jinja2 file </h1>


<h1> this is my ubuntu machine = "{{ansible_os_family}}" </h1>
<h1> this is my adress of host = "{{ansible_all_ipv4_addresses}}"</h1>
<h1> this is my jinja2 file = "{{myjavaubuntu}}"</h1>
